@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}
/*banner section styles*/
.banner-container{
    height: 652px;
    width: 100%;
   margin-top: 50px;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.banner-content{
    height: 581px;
    width: 998px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 26px;
}
.banner-content img{
height: 240px;
width: 240px;
}
.banner-content h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
gap: 24px;
}
.banner-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    gap: 32px;
    
}
.banner-btn{
    font-family: Azeret Mono;
    font-weight: 600;
    height: 65px ;
    width: 240px;
    border-radius: 8px;
background-color: rgb(13, 19, 33);
color: white;
margin-bottom: 45px;
margin-top: 32px;
}
/*second-section styles*/
.second-section-container{
    height: 1393px;
    width: 1440px;
    border-radius: 16px;

margin: 0 auto;
margin-top: 74px;
left: 148px;
right: 152px;
background: rgba(13, 19, 33, 0.02);


}
.second-section-content{
    width: 946px;
height: 1235px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;

margin: 0 auto;
margin-top: 80px;


}
.first-div{
    height: 113px ;
    width:850px ;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin-bottom: 48px;
}
.first-div h2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
height: 37px;
text-align: center;
    
}
.first-div p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
height: 26px;
text-align: center;

}
.second-div{
width: 946px;
height: 336px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

}
.second-div-content{
width: 850px;
height: 240px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

margin: 32px 0px;
}
.second-div-content-left h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
height: 36px;
text-align: left;
}
.second-div-content-left p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
height: 26px;
font-weight: 400px;
text-align: left;
}
.second-div-content-left {
width: 477px;
height: 220px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
}
.learn-btn{
    position: static;
width: 150px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
text-align: center;
}
.second-div-content-right img{
width: 259.56px;
height: 217.01px;
left: 0.36%;
right: -0.36%;
top: 1.74%;
bottom: -1.74%;

}
.third-div{
width: 946px;
height: 336px;
display: flex;
flex-direction: ;
justify-content: center;
align-items: center;
padding: 48px;

margin-top: 32px;
border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.third-div-content{
    width: 850px;
height: 240px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;


}
.third-div-content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.third-div-content img{

width: 223.2px;
height: 208.85px;
left: 0%;
right: 0%;
top: 0%;
}
.third-div-content-right{
width: 477px;
height: 220px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin-left: 20px;
margin: 0 auto;
}
.third-div-content-right h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
text-align: left;

}
.third-div-content-right p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
height: 26px;
text-align: left;
}
.fourth-div{
    width: 946px;
height: 336px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

margin-top: 32px;
}
.fourth-div-content{
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
   
    margin: 32px 0px;
    margin: 0 auto;
    }
    .fourth-div-content-left{
width: 50%;
height: 220px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
    }
    .fourth-div-content-left h3{
        color: rgba(13, 19, 33, 0.7);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 700;
        height: 36px;
        gap: 16px;
        
    }
    .fourth-div-content-left p{
        color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
height: 26px;
text-align: left;
    }
    .fourth-div-content-right img{
width: 206.4px;
height: 187.32px;
left: 8.14%;
right: -8.14%;
top: 14.06%;
bottom: -14.06%;

    }